.cover__link {
  align-items: center;
  align-items: center;
  background-image: url("../../../images/cover-background.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  justify-content: center;
  margin: 0;
  min-height: 740px;
  position: relative;
  text-decoration: none;
  width: 100%;
  z-index: 0;
}

.cover__link::before {
  background-color: #2A2C2F;
  content: " ";
  height: 100%;
  left: 0;
  opacity: .3;
  position: absolute;
  top: 0;
  transition: .4s;
  width: 100%;
  z-index: -1;
}

.cover__link:hover::before {
  cursor: pointer;
  opacity: 0.8 ;
}

@media screen and (max-width: 1279px) {
  .cover__link {
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__link {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__link {
    min-height: 200px ;
  }
}