.header {
  display: flex;
  height: 52px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1184px;
  padding: 28px 48px 56px 48px;
  position: relative;
}

@media screen and (max-width: 2179px) {
  .header {
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 28px 24px 48px 24px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 16px 16px 48px 16px;
  }
}