.place__main-text_paragraph {
  margin: 0;
  padding-left: 40px;
  width: 484px;
  font-weight: 300;
  font-size: 18px;
  line-height: 163%;
  color: #fff;
}

.place__main-text_paragraph:not(:first-child) {
  padding-top: 26px;
}