.place__website_link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-decoration: underline;
  margin: 0;
  transition: 0.4s;
  color: white;
}

.place__website_link:hover {
  cursor: pointer;
  opacity: .6;
}