.cover__title {
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  margin: 0;
  max-width: 560px;
  padding: calc((62.5% - 250px) / 2) 0 32px 0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 109%;
    padding: calc((62.5% - 134px) / 2) 0 16px 0;
    width: 90%;
    min-width: 288px;
  }
}