.cover__title {
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  line-height: 106%;
  margin: 0;
  padding-bottom: 32px;
  position: relative;
  text-align: center;
  width: 560px;
  z-index: 2;
}